
{% load static %}
<html class="no-js" lang="en">
<head>
  <title>TweetGen v2.0</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">

  <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static "TweetGen/css/bootstrap.css" %}">
  <link rel="stylesheet" href="{% static "TweetGen/css/style.css" %}">
</head>
<body>


  <div class="container">
    <a href="">
      <div class = "text-center">
        <img class = "img-fluid logo" src = "{% static "TweetGen/assets/logo3.png" %}"/>
      </div>
    </a>
    <div class = "jumbotron">
      <h1 class = "text-center"> Welcome! Please sign in with Twitter to continue. </h1>
      <p class = "text-center"  style="margin-bottom: 32px;">To log in as different user go to twitter.com and log out of your current account</p>
      <a role="button" href= "{% url 'social:begin' 'twitter' %}"
      class="btn btn-secondary btn-block btn-lg"
      id="login-button">Sign in</a>
  </div>

  </body>
  </html>
